body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0e0e0; /* Світло-сірий фон */
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 20px auto;
    background-color: #f0f0f0; /* Дуже світло-сірий фон для контейнера */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #2c3e50;
    font-size: 36px;
}

h2 {
    color: #3498db;
    font-size: 24px;
}

p {
    color: #555; /* Сірий колір тексту */
    font-size: 16px;
    line-height: 1.6;
}

label {
    font-weight: bold;
    color: #34495e; /* Темно-сірий колір для міток */
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc; /* Сірий колір обрамлення */
    border-radius: 6px;
    box-sizing: border-box;
}

input[readonly] {
    background-color: #ecf0f1; /* Світло-сірий фон для тільки для читання */
    cursor: not-allowed;
}

.btn {
    background-color: #7f8c8d; /* Сірий колір кнопки */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 12px 0;
    cursor: pointer;
    padding: 14px 28px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #95a5a6; /* Темніший сірий при наведенні */
}

.form-container {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}
