@model Lab5.Models.LabModel

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #eaeaea;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 60%;
        margin: 30px auto;
        background-color: #f3f3f3;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        text-align: left;
    }

    h1, h2 {
        color: #333;
    }

    p {
        color: #666;
        font-size: 18px;
    }

    label {
        font-weight: bold;
        color: #555;
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        border: 2px solid #ddd;
        border-radius: 8px;
        box-sizing: border-box;
    }

    input[readonly] {
        background-color: #ecf0f1;
        cursor: not-allowed;
    }

    .btn {
        background-color: #4CAF50;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 12px 0;
        cursor: pointer;
        padding: 15px 30px;
        border-radius: 8px;
        transition-duration: 0.4s;
        font-weight: bold;
    }

        .btn:hover {
            background-color: #45a049;
        }

    .form-container {
        text-align: center;
    }

    .form-group {
        margin-bottom: 25px;
    }
</style>

<div class="container">
    <h1>Лабораторна робота N1</h1>
    <h2>Умова задачі:</h2>
    <p>
        Сьогодні в космосі знаходяться сотні супутників, і всі вони обмінюються даними. При
        цьому система розпізнавання сигналів працює за схемою "Свій-Чужий". Один із супутників
        відправляє запит іншому супутнику у форматі двох цілих чисел, а другий супутник
        відповідає першому так само двома цілими числами. Перші два числа першого супутника є
        сумою цифр і кількість цифр тих двох чисел, якими повинен відповісти другий супутник.
        При цьому як відповідь повинні вийти числа, що становлять найбільше і найменше можливі
        значення, які можуть бути сформовані за описаним вище методом.
        Ви маєте написати програму, яка формує відповідь для другого супутника за відомими
        числами, отриманими від першого супутника.
    </p>

    <h2>Вхідні дані:</h2>
    <p>
        У вхідному файлі INPUT.TXT записані 2 натуральні числа S і K, що представляють суму та
        кількість цифр відповідно (K ≤ 100). При цьому гарантується, що можна скласти хоча б одне
        K-значне число, сума цифр якого дорівнює S.
    </p>

    <h2>Вихідні дані:</h2>
    <p>
        У вихідний файл OUTPUT.TXT виведіть два числа – відповідь другого супутника. При
        цьому слід пам'ятати, що всі числа не мають нулів, що лідирують.
    </p>

    <h2>Приклад</h2>
    <p>
        <b>INPUT:</b><br>
        1 3<br>
        <b>OUTPUT:</b> <br>100 100
    </p>
    <form asp-controller="Labs" asp-action="Calculate" method="post">
        <div class="form-group">
            <label for="Input">Введіть дані:</label>
            <input asp-for="LabNumber" type="hidden" value="1" />
            <textarea asp-for="Input" class="form-control" id="Input" rows="4"></textarea>
        </div>
        <button type="submit" class="btn">Обчислити</button>
    </form>
    <div class="form-group">
        <label for="Output">Результат:</label>
        <input asp-for="Output" class="form-control" id="Output" readonly />
    </div>
</div>
